    @using BlogSitesi.DAL.Data
 @model List<BlogSitesi.PL.Models.ArticleViewModel>

@{
    MVCBlogSitesiPLUser user = Model.First().MVCBlogSitesiProjesiUser;
}




<div class="row">

     

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <div class="container mt-5 d-flex justify-content-center">
            <div class="card text-center" style="width: 18rem; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <!-- Profile Image -->
                    @if (!string.IsNullOrEmpty(user.PhotoUrl))
                    {
                        <img src="@user.PhotoUrl"
                             alt="Profile Image"
                             class="rounded-circle mb-3"
                             style="width: 120px; height: 120px; object-fit: cover;" />


                    }
                    else
                    {
                        <img src="/images/blank.png"
                             alt="Profile Image"
                             class="rounded-circle mb-3"
                             style="width: 120px; height: 120px; object-fit: cover;" />


                    }


                    <!-- Name -->
                    <h5 class="card-title">@user.NameSurname</h5>

                    <!-- Bio -->
                    <p class="text-muted mb-3">@user.Bio</p>

                    <!-- Contact Info -->
                    <div class="mb-3">
                        <p class="mb-1"><i class="bi bi-envelope"></i> @user.Email</p>

                    </div>
                </div>
            </div>
        </div>

        @foreach (var Entry in Model)
        {
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">@Entry.Title</h2>
                    <p class="card-text">@Html.Raw(Entry.Content.Length > 200 ? Entry.Content.Substring(0, 200) : Entry.Content)</p>

                    <a asp-action="ReadMore" asp-route-id="@Entry.Id">Daha Fazla  &rarr;</a> |
                </div>
                <div class="card-footer text-muted">

                    <span class="badge badge-pill bg-secondary">
                        <a asp-action="Category" class="text-white" asp-route-id="@Entry.CategoryId">@Entry.Category.Name</a>

                    </span>

                    Posted on <span class="badge badge-pill bg-success text-white">@Entry.PublishDate.ToLongDateString()</span> by <span class="badge badge-pill bg-primary text-white">
                        <a asp-action="Author" class="text-white" asp-route-id="@Entry.MVCBlogSitesiProjesiUserId">@Entry.MVCBlogSitesiProjesiUser.UserName</a>
                    </span>
                </div>
            </div>
        }

      
    </div>

    <partial name="/Views/Shared/Partials/Sidebar.cshtml" />

</div>