@using BlogSitesi.PL.Models
@model ArticleViewModel

@{
    ViewData["Title"] = "Ayrıntılar";
}

<h1>Ayrıntılar</h1>

<div>
    <h4>Makale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
       
         
         
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Güncelle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
